<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
  </head>
  <body>

<nav>
  <a class="navBarA" href="/moves">List of Moves</a>
  |
  <a class="navBarA" href="/moves/new">Create New Move</a>
  |
  <a class="navBarA" href="/moves/about">About This Site</a>
  |
  <a class="navBarA" href="/users/signin">Sign Out</a>
</nav>