<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<%- include('../partials/header.ejs') %>
<body class="aboutBigBody">
    <div class="aboutBody">
        <h1 class="aboutTitle">About Me</h1>

        <div class="paragraph">
            <p class="aboutLine"><strong>
            Greetings! I'm a developer with a passion for all things weird and wonderful.</strong></p>
            <p class="aboutLine"> <strong>When I'm not coding, you can usually find me exploring abandoned buildings or searching for hidden treasure in the city.</strong></P>
            <p class="aboutLine"><strong>This site provides users with videos to assist them in defending themselves against would-be attackers, in a variety of environments and scenarios. Users can rate and comment on each video, based on how well the defense worked or didn't work.</strong></p>
            <p class="aboutLine"><strong>Some of the vidoes provide real self defense moves, and some provided videos are meant to be quirky. If you find a relevant video that you like, don't forget to upload it!</strong></p>
            <p class="aboutLine"><strong>That being said, thanks for stopping by my little corner of the internet. If you want to chat about code, weird hobbies, or anything in between, feel free to drop me a line!</strong></p>
        </div>

    </div>


    <%- include('../partials/footer.ejs') %>
</body>
</html>