<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>Greetings! I'm a developer with a passion for all things weird and wonderful.</p>
    <p>When I'm not coding, you can usually find me cexploring abandoned buildings or searching for hidden treasure in the city.</P>
    <p>Thanks for stopping by my little corner of the internet. If you want to chat about code, weird hobbies, or anything in between, feel free to drop me a line!</p>

    
</body>
<%- include('../partials/footer.ejs') %>
</html>