<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="loginBody">
    <h1 class="loginTitle">Welcome to Whack-A-Thug Self Defense!</h1>

    <nav class="loginNavBar">
        <a class="navLogin" href="/users/signin">Sign In</a>
        <a class="navRegist" href="/users/register">Register</a>
    </nav>
    <%- include('../partials/footer.ejs') %>
</body>

</html>