<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Whack-A-Thug Moves List</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<%- include('../partials/header.ejs') %>
		<h1 class="showTitle">Whack-A-Thug</h1>
		<form action="/moves" method="POST">
			
			<label for="Name"><strong>Name:</strong> <input class="input1" type="text" name="name"><br> </label>
			<label for="Description"><strong>Description:</strong> <input class="input1" type="text" name="description"> <br> </label>
			<label for="Comments"><strong>Comments:</strong> <input class="input1" type="text" name="comments"> <br> </label>
			<label for="link"><strong>Link:</strong> <input class="input1" type="url" name="link" /><br /> </label>
			<label for="thumbsUp"><strong>Thumbs Up:</strong> <input class="input3" type="checkbox" name="thumbsUp"> <br> </label>
			<input class="input2" type="submit" value="Add Moves">

		</form>
		
	</body>
	<%- include('../partials/footer.ejs') %>
</html>