@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url('/images/collection-business-1-1236882.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;


  margin: 0;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

h1 {
  font-family: 'Righteous', cursive;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
  font-size: 60px;
}

.ratingH4 {
  position: relative;
  font-size: 50px;
  bottom: 111px;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.column {
    border-radius: 0.6rem;
    padding: 10px;
    /* font-size: 30px; */
    text-align: center;
}

.movesClass {
  color: rgb(71 195 143 / 91%);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  position: relative;
  /* bottom: 111px; */
  font-size: 45px;
}

nav {
  /* margin-top: 82px; */
  margin-bottom: 47px;
}

.navBarA {
  color: rgb(71 195 143 / 91%);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 45px;
  padding: .25em;
  position: relative;
}

.backToIndex {
  font-size: 35px;
    position: relative;
    top: -214px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
  color: chocolate;
}

li {
  list-style: none;
}

.indexList {
  margin-bottom: 30px;
}

li a {
  color: mediumseagreen;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: 0.3em;
  color: #22211e;
  background: mediumseagreen;
  font-size: 25px;
  border-radius: 1.2rem;
  position: relative;
  bottom: 7px;
  width: 153px;
}

input[type=submit]:hover {
  background-color: chocolate;
  color: white;
} 

input[type="checkbox" i] {
  background-color: initial;
  position: relative;
  right: 122px;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

iframe {
    position: relative;
    border-radius: 1.2rem;
    
}

footer {
  margin-top:150px;
}

.editMoves {
  font-size: 35px;
  position: relative;
  bottom: 253px;
  cursor:pointer;
  text-decoration: none;
}

.showNav {
  margin-top: 321px;
}

.ytp-cued-thumbnail-overlay-image {
  position: relative;
  bottom: 500px; 
}

.commentRating {
  font-size: 30px;
}

.comRateDisc {
  margin-top: 50px;
}

.showTitle {
  position: relative;
  top: -70px
}

label {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 20px;
}

input {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 312px;
  height: 50px;
  margin-left: 11px;
}

.input1 {
  position: relative;
  top: -7px;
  left: 5px;
}

/* .input2 {
  position: relative;
  top: 20px;
  font-size: 60px;
  color:black;
  background-color: black;
  width: 30px; 
} */

.input3 {
  position: relative;
  right: 138px;
  bottom: -11px;
}

.aboutBigBody {
  text-align: center;
}

.aboutTitle {
  color: rgb(102, 161, 25)
}

.aboutLine {
  color:hsl(86deg 95% 34%);
  font-size: 35px;
  margin: 0 487px;
  width: 50%;
  text-align: center;
}

.loginTitle {
  color:mediumseagreen;
  font-size: 80px;
}

.loginNavBar {
  margin-top: 275px; 
  font-size: 45px;
  text-align: center;
}

.navLogin {
padding-right: 10px;
text-decoration:none;
color: mediumseagreen;
font-weight: bolder;
}

.loginBody {
  
}

.navRegist {
padding-left: 10px;
text-decoration:none;
color: mediumseagreen;
font-weight:bolder
}
